<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean class="p04InnerBeans.BeanOne" id="beanOne" >
        <property name="beanTwo">
            <bean class="p04InnerBeans.BeanTwo">
                <property name="name" value="myBean"/>
             </bean>
        </property>
    </bean>



</beans>