<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean class="p02autowiring.BeanOne" id="beanOne"/>
    <bean class="p02autowiring.BeanTwo" id="beanTwo"/>
    <bean class="p02autowiring.BeanThree" id="beanThree" />

    <bean class="p02autowiring.Target" id="targetByName" autowire="byName"/>
    <bean class="p02autowiring.Target" id="targetByType" autowire="byType"/>



</beans>