<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="shutdownhook" class="p01lifecuclecallback.p05applicationContextAware.ShutDownHookBean"/>

    <bean id="human" class="p01lifecuclecallback.p05applicationContextAware.Human"/>
</beans>