<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
">






    <bean id="prototypeScope" class="p03SingletonBeanswithPrototypeBeanDependencies.solved.p1methodinjection.PrototypeScope" scope="prototype">
        <property name="message" value="Test Message" />
    </bean>
    <bean id="singletonScope" class="p03SingletonBeanswithPrototypeBeanDependencies.solved.p1methodinjection.SingletonScope" >
        <lookup-method bean="prototypeScope" name="getPrototypeBean"/>
    </bean>
</beans>